---
apiVersion: v1
kind: Service
metadata:
  name: flask-backend
  namespace: mysql-app
  labels:
    app: flask-backend
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    name: http
  selector:
    app: flask-backend

---
apiVersion: v1
kind: Service
metadata:
  name: flask-backend-nodeport
  namespace: mysql-app
spec:
  type: NodePort
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30500
    name: http
  selector:
    app: flask-backend
